[2022-04-08 16:28] MizouziE opened #2 "prices"
Add check for "price/prices"

[2022-04-09 15:45] MizouziE opened #3 "Twitter sources"
Add a twitter scraper using customizable search filters![image](https://user-images.githubusercontent.com/90829439/162581284-7bb2fd98-36a0-4a67-a572-024596861221.png)

[2022-04-09 16:39] MizouziE opened #4 "repeating on single source"
only give one of each result, don't repeat!

The below should only be two results, not 6
![image](https://user-images.githubusercontent.com/90829439/162583156-1e7d8a47-be5e-4470-83d3-8ab1d8203d31.png)

[2022-04-09 16:44] MizouziE opened #5 "format titles"
Trim tags and whitespace from beginning of titles

![image](https://user-images.githubusercontent.com/90829439/162583341-09826dbe-0b92-4826-8e8a-7de0e6edbd23.png)

[2022-04-09 19:56] MizouziE opened #7 "Data structure"
Reconsider structure of sources/articles

![image](https://user-images.githubusercontent.com/90829439/162589739-29aa77f4-a475-4b1f-a9cb-bb5c3f5aafbb.jpeg)

[2022-04-12 10:11] MizouziE commented on #3
After attempting this, I've learnt that there is a twitter public API already. This needs to be put to use instead and I'm open to discussion on what would be a good implementation.

[2022-04-12 10:13] MizouziE commented on #2
For now, we are only checking for a single keyword `energy`, perhaps it would be good to have a secondary check to ensure that the articles actually  do relate to the **price** of energy

[2022-04-17 12:52] OakenSushi commented on #5
@MizouziE
Hi!
I am new to contributing to open source projects and would like to work on this issue.
can I work on this issue?

[2022-04-17 14:20] MizouziE commented on #5
@OakenSushi absolutely! I will assign it to you ASAP, but feel free to start whenever you want.

Any questions at all and I'll be here.

Your input is greatly appreciated 🙏

[2022-04-17 22:59] OakenSushi commented on #5
@MizouziE
Thank you! Ready to create a PR.
Sorry, I don't understand about TBC format, is there any site or PR that can help me with TBC format?

[2022-04-17 23:29] MizouziE commented on #5
Create the PR as it is. I only meant the format was not yet decided. TBC = To Be Certified.

Very glad you asked because I can see that is slightly misleading and I will need to fix it.

Submit your PR, I'll make a review as soon as I possibly can. Thanks again and I look forward to seeing your solution 🙌

[2022-04-17 23:32] MizouziE opened #8 "Clarify documentation"
Rewrite parts if the README that can be unclear i.e.
- [ ] **TBC** in PR format
- [ ] Describe what the API does better

[2022-04-18 22:07] MizouziE opened #10 "License"
Add a license file
[examples and explanations](https://www.freecodecamp.org/news/how-open-source-licenses-work-and-how-to-add-them-to-your-projects-34310c3cf94/)

[2022-04-19 10:53] #10 closed

[2022-04-21 12:19] MizouziE opened #12 "Contributors list"
- Make one
- Add OakenSushi!

[2022-04-22 17:27] #5 closed

[2022-04-23 23:29] MizouziE opened #13 "Contribution guide"
Decide on (not final):
- [ ] Issue raising
- [ ] Feature requests
- [ ] PR template
- [ ] Every little helps

[2022-05-04 17:33] MizouziE opened #14 "Links to endpoints"
Let's include some clickable links to the current endpoints on the homepage `app.get('/', (req, res) {...})`.

Also;
- short explanations
- link to this repo
- project aims

Under here;
![image](https://user-images.githubusercontent.com/90829439/166745312-7dd76637-c39c-4225-a466-316037089966.png)

[2022-05-18 11:46] #12 closed

[2022-05-18 11:53] MizouziE opened #16 "Thumbnail image"
If someone were to use the API and need a thumbnail for display purposes, what would be a good way to get one from the link/source?

[2022-05-18 12:14] MizouziE opened #17 "Results sanitization"
When certain `sources` are returning results, they sometimes can be formatted in strange ways.
- The Times
![image](https://user-images.githubusercontent.com/90829439/169035969-755720f9-d02a-49be-a910-b01cbe2a661d.png)

It would be good to check for the repetition seen here and remove it. Either:
- Overall character limit on titles
- Regex search of the returned string for '.' and cut it off there

[2022-05-18 12:21] MizouziE opened #18 "Further sanitization"
Linked to #17

The same culprit source. This time returning an entire `<img...>` tag with far too much info inside.
- ![image](https://user-images.githubusercontent.com/90829439/169036842-42ed0219-2769-4d01-81c5-1863f8f8148b.png)
- Use an `if (...) {} else {}` or `switch` statement to check for this case, then...
- Use a regex function to search string for the `alt="` and return everything after u

[2022-05-18 17:04] ANaphade commented on #17
Consider we have retrieved the title value from the object in titleValue. We can then check for repetition and remove it like below-

const sentences= titleValue.split('.');   //splitting title by '.'
const unique = [...new Set(sentences)].join('.'); //Set will provide us with distinct values in array which we can then join by '.'

[2022-05-18 18:40] MizouziE commented on #17
Hi @ANaphade, I see what you mean and it may be possible to work that into the code in `index.js` from line 72 onwards which is currently:
[code]

Maybe adding it in as a step before `articles.push({...` like the below?
[code]

I like that this would (theoretically) simply remove repetition and not just cut off after one sentence. I hadn't thought of that. If you'd like to fork the repo, try it ou

[2022-05-18 19:38] dcordoba97 commented on #18
Hello! Is anyone working on this issue already? If not, I'd love to.

[2022-05-18 20:21] MizouziE commented on #18
Hi @dcordoba97
At the moment no one has this assigned to them, so by all means have at it! Thanks for taking a look.

I know I already made one suggestion how to handle it, but there's also been a nice suggestion that may give you another idea over on the related issue linked at the top.

If you have any questions at all I'll be here ASAP. Also I'll assign this issue to you now.

Looking forward t

[2022-05-19 02:20] ANaphade commented on #17
Yes, i'd like to fork the repo and make a PR. Thanks!

[2022-05-19 17:33] Yoshemith commented on #14
Hi @MizouziE I was looking through the project and I really liked the idea you're working on, so I was thinking if I could start contributing to this issue, If there's no one working on this currently, of course, I'd love to.

[2022-05-19 19:09] MizouziE commented on #14
Thank you very much @Yoshemith ! That means a lot and your input would be really appreciated.

Nobody is working in it currently, I don't have any set goals aside from the suggestions I put in the issue but my opinion is that whoever is working on it should feel free to execute however they see fit. I'm always here to discuss if need be. Really looking forward to working together!

[2022-05-20 07:49] nulad commented on #7
I'd like to clarify the purpose of this enhancement. Should we use left one (fastHardToTypeDataStructure) instead of the right one? if so, what should be the unique ID for each item? I propose `url` since it should be unique per news article. What do you think?

[2022-05-20 09:21] MizouziE commented on #7
Hi @nulad,
I saw this in a discussion on twitter and was curious as to whether it would improve performance. I certainly wouldn't say, at the stage the project is currently at, that performance is and issue. However I do hope that it grows into something bigger.

- To answer that, yes that is what I'm suggesting.

My main thinking was regarding the `sources` array as this is what is most likely to

[2022-05-20 21:29] TAKANOME-DEV commented on #16
Hey @MizouziE if you can get the image, you can use [sharp](https://www.npmjs.com/package/sharp) to resize it 😉

[2022-05-20 21:37] TAKANOME-DEV commented on #4
Hi @MizouziE, I want to know where it's happened 🤔

[2022-05-20 21:57] TAKANOME-DEV opened #20 "[FEATURE]: add issue template and github workflows"
I noticed that there is no `.github` folder. I would like to add one, so contributors can easily report a bug, request a feature, fix type etc.

We can also add worlflows like `codeql-analysis` to analyse the code, use prettier and eslint for code styles and so one...

[2022-05-20 22:08] TAKANOME-DEV opened #21 "[FEATURE]: Update file structure"
As the project grow and even right now, the `index.js` file is getting bigger and bigger.

It could be nice if we can split the code and move the route handler inside a `routes` folder and the business logic inside a `controller` folder.

We can also put the `sources` and `twitterAccounts` inside a json file.

[2022-05-20 22:20] MizouziE commented on #20
This would be a great addition! Please go ahead with what you think is best and put in a PR 🙏

[2022-05-20 22:25] TAKANOME-DEV commented on #3
Ah ok, so you want to use that twitter API to retrieve some tweets ?? Is that right ??

[2022-05-20 22:27] TAKANOME-DEV commented on #2
Oh, that's a good idea. Perhaps it can be an array of keywords ??

[2022-05-20 22:33] MizouziE commented on #21
I absolutely agree and honestly thought I'd made an issue regarding this before but apparently not 😅
Splitting into separate files would be quite a big task so perhaps we can split it into smaller stages? To me it makes the most sense to do in the following order:
1. Sources lists into a .json
2. All routes as they are into a routes.js
3. Then split business logic out into controllers.js

What do

[2022-05-20 22:41] MizouziE commented on #16
Hey @TAKANOME-DEV, to be honest I was only really thinking to provide an image url that a user could then use as a source and manipulate as they see fit.

The question really is how to "universally" find the right <img> element to scrape the `src="..."` from?

The answer may even be in the [documentation for cheerio](https://cheerio.js.org/) that I haven't read fully myself yet.

[2022-05-20 22:43] hendurhance commented on #14
This is a very good idea. I'd love to work on this issue.

[2022-05-20 22:50] MizouziE commented on #4
@TAKANOME-DEV I think it only happens once in a while because the news sources are constantly changing. I have only ever noticed it a few times, but that screenshot above is from one of the worst times 😂

I think we just need some sort of quality control to make sure all is unique. Something similar was mentioned in #7 in a comment that was about ensuring `url: ` was unique.

[2022-05-20 22:57] MizouziE commented on #3
Yes I think it would be better than the way I was doing it by concatenation to the query string.
I need to read the docs and see what would be the best way. Always open to suggestions though!

[2022-05-20 22:59] MizouziE commented on #2
I think that would be good. It would need a little experimentation to see what yields more accurate results.

[2022-05-20 23:05] MizouziE commented on #14
Hi @hendurhance, thanks! At the moment it's being worked on, but once @Yoshemith is happy with what they've got done and made a PR, then I'd be very grateful for your input on further enhancements because there'll always be more to do. If you don't receive any notifications in the next week, check back with us and we'll see where we're at with it.

[2022-05-21 00:43] TAKANOME-DEV commented on #3
Ok cool, I also have to check the docs.
Let me know if you find something interesting!

[2022-05-21 00:54] TAKANOME-DEV commented on #21
That's a great idea, we can also add a task list so that every time a task is completed, we marked it as resolved.

[2022-05-21 00:55] TAKANOME-DEV commented on #21
Can I start working on the first one??

[2022-05-21 01:15] TAKANOME-DEV commented on #4
Interesting, I'm curious about this performance issue though. I hope @nulad will break it down

[2022-05-21 03:19] nulad commented on #7
Yup, my plan was actually to tackle this issue together with #4 since #4 can be solved once we have some kind of id to identify each item.
My take on the left data structure is the left one is an object with properties, and accessing properties in an object in javascript is fast (O(1) in best case), so accessing items inside should be faster than accessing items inside array.

[2022-05-21 04:50] ANaphade commented on #4
I would like to create a PR for this one

[2022-05-21 05:12] ANaphade commented on #4
Is anyone working on this issue? If not, I'd like to work on it.

[2022-05-21 11:38] #17 closed

[2022-05-21 11:42] MizouziE opened #23 "Update contributors list"
- add @ANaphade
- add @TAKANOME-DEV
- add @nulad
- add @Yoshemith
- add @dbsaw
- add @dcordoba97
- add @anu-codes
- add @NeffCodes
- add @rutterjt
- add @elmirsmylv
- add @RamonASV
- add @alesbe
- add @kvaithin
- add @apurva-hub
- add @cfkim
- add @GAbdulwhb
- add @klezi10
- add @eddejayaklu
- add @Dalu46
- add @ianskie26
- add @MuizU
- add @scottjwilson
- add @k-puchala
- add @snehashish-ghosh98

[2022-05-21 11:57] MizouziE commented on #21
Yes, by all means

[2022-05-21 11:58] MizouziE commented on #21
List of tasks:
- [ ]Sources lists into a .json
- [ ]All routes as they are into a routes.js
- [ ]Then split business logic out into controllers.js

[2022-05-21 12:02] MizouziE commented on #7
Cool! Really happy to have this potential problem addressed way ahead of time. Thanks!

[2022-05-21 12:05] MizouziE commented on #4
@ANaphade At the moment we've figured that a separate issue that is being worked on will fix this, so for the moment it's being investigated/handled. In the case of it not going how we expect, I will assign it to you, but I think it will be solved so I don't want u holding your breath 😄

[2022-05-21 15:12] nulad commented on #7
I have made a PR for this issue #7 together with #4. Kindly please check it. Thanks!

[2022-05-21 15:43] nulad opened #27 "Potentially stale response data coming from news endpoint"
Currently, the process of populating the `articles` data is done outside of the route middleware. While I think it makes the news endpoint load quickly, it has a side effect of the articles data becoming stale once the populating process is done. Once the process is done, the articles data will not be refreshed again until index.js is loaded again, which can be days depending on the deployment pla

[2022-05-21 19:00] #4 closed

[2022-05-21 19:00] #7 closed

[2022-05-21 19:22] TAKANOME-DEV commented on #27
That's exactly what I wanted to point out. Thanks for opening this issue 👍
I was thinking of using the `setTimeOut` method to automatically refresh the articles after `x` miliseconds.
Do you have anything in mind about how we should approach this??

[2022-05-21 19:31] MizouziE commented on #27
hey @nulad just as an unrelated note, your pull request hasn't automatically registered you as a contributor and I think it will be to do with the email address you have registered to your ssh key and your github account not matching. Just thought it'd be worth you checking out. I will definitely be adding you manually to the docs, so you'll be on there for sure. It just doesn't come up in the aut

[2022-05-21 19:34] TAKANOME-DEV commented on #20
Issue addressed, PR #24 merged

[2022-05-21 19:34] #20 closed

[2022-05-21 21:26] TAKANOME-DEV commented on #16
This one seems tricky, isn't that what you have assigned in #18 ??

[2022-05-21 22:09] MizouziE commented on #16
@TAKANOME-DEV Over in #18 the value coming back was a whole image tag that we didn't actually want there, that particular site just used an image instead of a h1 title which lead to the generic approach tripping over it. What I'd like is an *additional* key value pair in the article object exclusively for an image url.
The real tricky bit is gonna be figuring how to find the right image in a gener

[2022-05-21 22:13] TAKANOME-DEV commented on #21
Task 1: done ✔️
We can now move to the next 🔥

[2022-05-21 22:33] TAKANOME-DEV opened #29 "[DOC] - Add contributing.md file"
### What is incorrect in the documentation?

I would like to add a `contributing.md` file and move the contribution section in the docs there.
We can give more information about how to contribute in this project.

### What should that text say?

We can just put a reference to it like the example below:
[code]

### Additional information

_No response_

[2022-05-22 12:53] TAKANOME-DEV commented on #16
Absolutely, I tried to get the parentNode of the `a` tag and then grap the `image/source` tag `src/srcset` attribute, but I can't get it 😂

I never used Jquery, maybe that's why it's tough for me 😄

[2022-05-22 15:29] shebuel-oss commented on #29
I can take that up @TAKANOME-DEV

[2022-05-22 16:11] MizouziE commented on #29
@TAKANOME-DEV @shebuel-oss This is more or less what I intended on doing in #13
Granted, I made that issue a month ago so I should have done it by now, but one of the main reasons I began this project was to practice writing things like this. I hope you won't mind if I make a start on this and then ask your input on improving what I start?

[2022-05-22 16:14] TAKANOME-DEV commented on #29
Yeah for sure, I didn't pay attention on that issue. Please go ahead 🙏

[2022-05-22 16:17] shebuel-oss commented on #29
Sure, go ahead.

[2022-05-23 09:47] #14 closed, assigned to Yoshemith

[2022-05-23 09:49] MizouziE commented on #21
Massive thanks to both @TAKANOME-DEV and @Yoshemith for the great work on this big task! 🚀🚀🚀

[2022-05-23 09:49] #21 closed

[2022-05-23 09:58] MizouziE commented on #29
@shebuel-oss @TAKANOME-DEV Guys, I have a much busier week ahead than expected and although I do really appreciate your understanding when I asked if I could take the lead on this, it would actually be much better if you guys could in fact make this happen.

The project has had some big changes with the most recent pull request, so navigating it has become a little more complex for a beginner, so

[2022-05-23 10:02] MizouziE commented on #16
I definitely think this one will take some experimentation, or perhaps we'll be lucky and get some input from a new contributor.

Don't worry about your jQuery skills, I barely have any ability with JavaScript at all! 😅😂😂

[2022-05-23 10:11] MizouziE opened #31 "[CHORE] - Install Prettier dependency"
## What work needs to be performed?

### We need the project to have a format standard, so we are choosing Prettier.

- Add prettier as a dependency. [You can find install documentation here](https://prettier.io/docs/en/install.html)
- Set up basic config file. [Docs here](https://prettier.io/docs/en/configuration.html)
    - I would suggest using the "A `.prettierrc` file written in JSON or YAML.

[2022-05-23 11:31] TAKANOME-DEV commented on #29
Hey @MizouziE don't worry about that, you could make this project private, work on it and sell it.
But you opened it up to beginners like us to contribute, learn and grow together. It's amazing, a BIG THANK YOU👍

[2022-05-23 11:31] TAKANOME-DEV commented on #29
Hey @shebuel-oss would you like to take it??

[2022-05-23 12:05] shebuel-oss commented on #29
Hey @TAKANOME-DEV Yeah I could take that up.
No worries @MizouziE, let me work on creating a good CONTRIBUTING.md file for this project. This would help guide new contributors who are beginners to make their first contributions.

[2022-05-23 12:30] TAKANOME-DEV commented on #31
The `.prettierrc.json` file should contain these minimum config:
[code]
You can refer to the [docs](https://prettier.io/docs/en/options.html) for information about each option.
@MizouziE let me know if you want to you use `single/double quotes` and `tab width 2/4` and I will edit this before someone start to work on it.

[2022-05-23 14:45] MizouziE opened #34 "[OTHER] - add API rate limiting"
### What would you like to share?

Fix API rate limitiing issue as pointed out by @TAKANOME-DEV

Please comment code to explain reasons for changes that are made for the benefit of later contributors.

### Additional information

[code]
Is the offending code.

[2022-05-23 14:51] MizouziE opened #35 "[DOC]"
### What is incorrect in the documentation?

example routes/endpoints `localhost:8000/news`

### What should that text say?

Needs to be changed to `localhost:8000/api/news`

### Additional information

If you like, double check documentation for any other references to routes which would have changed due to the API and landing page being split.

[2022-05-23 15:30] dbsaw commented on #35
I was confused when I read the docs then I saw this and edit it. lol

[2022-05-23 16:29] TAKANOME-DEV commented on #34
The code above use the `path` module to send the `not-found.html` page when a user go to a url that doesn't exist.
So using that `path` module without limiting the number of request, can lead to a [DoS attack](https://en.wikipedia.org/wiki/Denial-of-service_attack).

We can use [express-rate-limit](https://www.npmjs.com/package/express-rate-limit) package to tacle that issue 🔒

You can catch those

[2022-05-23 17:03] #35 closed

[2022-05-23 17:07] MizouziE commented on #31
Let's keep it as you've set it for now and see how it looks.
Remember I'm a PHP guy, so u don't wanna get into a single/double quote debate with me 😂😂

[2022-05-23 17:57] TAKANOME-DEV opened #37 "[OTHER] - Update issue template"
### What would you like to share?

I did forget to precise that every issue should have a brief description just after the `[typeof issue]`. Here is an example:
[code]

If you take a look at `.github/ISSUE_TEMPLATE` folder, you will see that the `bug.yml` file has a title of `[BUG] - <bug description>`
I did forget to add the samething in the others template. It can be helpful to let contributors

[2022-05-23 20:28] MizouziE opened #39 "[FEAT] - Testing with fake HTTP responses"
### What feature would you like to see?

## Tests
Some unit testing and feature testing would be good to sure up what is added along the way
- In particular something to fake HTTP responses with to ensure all our sanitization methods are doing what they shout be doing

### Possible implementation

A good example was PR #38
I was unable to confirm that the new method added extracted the article tit

[2022-05-23 22:01] TAKANOME-DEV commented on #39
That would be great. Could you create a list of tasks of things that should be tested ??

[2022-05-23 23:35] cortezroberto commented on #2
Hello! Is anyone working on this issue already?
I'm interested! :)

[2022-05-24 07:34] TAKANOME-DEV commented on #2
I don't think so, give it a shot 👊

[2022-05-24 10:02] MizouziE commented on #2
@cortezroberto Please go ahead! We'd be most grateful.

[2022-05-24 10:22] dbsaw opened #40 "[FEAT] - why don't we make website along side the API using the data from the API?"
### What feature would you like to see?

### website using the data in the API so it is easier for non-tech people to have the data.

### Possible implementation

_No response_

### Additional information

_No response_

[2022-05-24 11:51] MizouziE commented on #40
I agree that it's a great idea to have, but what if we go one step further and encourage others to make web apps that consume the data and we use the new front/landing page to keep an index of them?

API consumption is a nice mini project for a SPA and the possibilities are endless, so I'd be very interested to see the different ways people make use of the API.

I have the API registered on RapidA

[2022-05-24 11:56] #37 closed

[2022-05-24 12:15] dbsaw commented on #40
Yes even better, I haven't worked with something like that before so it's a new journey for me and I'm sure I will have fun learning about it and maybe helping you implement it.

[2022-05-24 12:21] MizouziE opened #42 "[CHORE] - Adjust `"license": ...` in `package.json`"
### What work needs to be performed?

Inside the json I forgot to update the license type after a license was actually applied. Can this get updated to reflect the project's actual license type.

### Additional information

Information regarding the type of license [can be found here](https://github.com/MizouziE/energy-prices-api/blob/master/LICENSE.md) or in the `LICENSE.md` file in the project r

[2022-05-24 12:26] MizouziE commented on #40
If you build anything with it be sure to raise an issue/make a PR to include a link to it on the homepage! And also ask any questions if you have any on here or find my contact details on my profile. 👊

[2022-05-24 13:34] MizouziE commented on #16
@dbsaw YES!! That's exactly it. I really should have thought of that considering I [wrote this article on the subject](https://www.linkedin.com/pulse/how-i-just-customised-my-featured-link-thumbnail-sam-anglin/) 😅

So let's **highlight the above solution** to let whoever takes this on know that it should be a viable way of achieving what we need.

[2022-05-24 14:20] MizouziE opened #43 "We should also drop this `path` package 📦 because it's built in nodejs, we don't need to install it"
We should also drop this `path` package 📦  because it's built in nodejs, we don't need to install it

_Originally posted by @TAKANOME-DEV in https://github.com/MizouziE/energy-prices-api/issues/42#issuecomment-1135966134_

[2022-05-24 16:33] MizouziE commented on #18
Hi @dcordoba97 ,
I had a chance to test out the `getTitle()` function as some new articles came up with the problem. It turned out that it didn't catch them and they still came through wrapped in `<img>` tags. So I dug around a little and made a few adjustments to what you had already written and I have managed to get it doing what we intended.

I changed it to the following:
[code]

Seeing as you

[2022-05-24 17:18] dcordoba97 commented on #18
Hello @MizouziE!

I am glad to hear that my code was useful in some way! I appreciate that you make this proposal. I'll be glad to continue to contribute to your project. Thanks, Sam!

[2022-05-24 18:45] RamonASV commented on #31
Hello! Is anyone working in this issue already? If it is available, may I work on it?

[2022-05-24 19:02] MizouziE commented on #31
Consider it yours! Thanks for taking it on and we're here if you have any questions.

[2022-05-24 19:13] MizouziE commented on #39
Let's go with [Jest](https://jestjs.io/docs/mock-functions) and just get started with a simple "does it give a http response" test to get started and then write up a single issue per test needed from then on.

I found [a nice article](https://zaklaughton.dev/blog/the-only-3-steps-you-need-to-mock-an-api-call-in-jest/) that explains how jest can be used in a similar manner quite nicely to help anyo

[2022-05-24 19:15] dbsaw opened #44 "[CHORE] - Clear up the api response"
### What work needs to be performed?

## I think the response is not clear :
 {"`**/video/ukraine-war-how-does-russia-affect-our-energy-bills-12562454**`":{"title":"How Russia affects our energy bills","url":"https://news.sky.com/video/ukraine-war-how-does-russia-affect-our-energy-bills-12562454","source":"Sky news"}

especially the bolded part I don't get what it means.

## enhancement :
 {"`**Ho

[2022-05-24 19:54] MizouziE commented on #44
The response keys are currently just the url and this is being used as a kind of `uuid` which fixed a few problems we had early on with repeated results. It would be much tidier with and actual `uuid`, I agree. It may require some form of hashing or uid library to acheive. I could see it "technically" working with bcrypt but I doubt that's very efficient. What other options do you think would be p

[2022-05-24 20:05] MizouziE opened #46 "Change npm run start"
### What is incorrect in the documentation?

We now have nodemon as a development server so we no longer need to use:
[code]

### What should that text say?

In the ‘Installation’ section of the README it needs to be replaced with:
[code]

### Additional information

_No response_

[2022-05-24 20:21] anu-codes commented on #46
Hello, can I attempt solving this?

[2022-05-24 20:33] TAKANOME-DEV commented on #39
See that's funny because since this morning, I'm testing a github action with jest and until now I'm struggling to do it 😂
This article explain it very well, it's a good starter point. Let's do it 💪

[2022-05-24 20:35] TAKANOME-DEV commented on #46
For sure

[2022-05-24 20:58] TAKANOME-DEV commented on #46
Close #46

[2022-05-24 21:02] MizouziE opened #48 "Fix typo in data/sources.json"
### What work needs to be performed?

There is a typo in the name of “The Metro”

### Additional information

![25E964EB-7FEA-4FB8-B2DA-C3A2ED26329D](https://user-images.githubusercontent.com/90829439/170131738-ee51f272-eaa2-474a-901d-a378ad7ada2e.jpeg)

[2022-05-24 21:04] #18 closed

[2022-05-24 21:16] MizouziE opened #49 "Add your favourite news source"
### What would you like to share?

As an ice-breaker, I’d like to invite any newcomers to take a look through our list of news sources in `data/sources.json`.

Following the same format, please add a site of your choice by providing the name and a url. Leave the third key value pair as `“base”: “”`.

We will assess at a later date whether the base needs any attention.

### Additional information

[2022-05-24 21:23] NeffCodes commented on #48
Do you mind if I take a crack at this?

[2022-05-24 21:24] MizouziE commented on #48
@NeffCodes please be my guest! Thanks a lot!

[2022-05-24 22:14] #34 closed

[2022-05-24 22:14] #43 closed

[2022-05-24 22:16] #48 closed

[2022-05-25 04:55] dbsaw commented on #44
oh ok, know I got it I did not understand the first time sorry.

one solution maybe is using a hash table; I have never used it in my life but I think it will help us here, instead of an ugly extended response.

[2022-05-25 08:53] MizouziE commented on #44
@dbsaw

Hey man don't worry at all! We're all here to learn.

I did have a quick look into the uuid package and the one that's built into node.js and they seem to me to create rather long strings so that makes me think we won't be improving very much. I had a look at [short-crypt](https://www.npmjs.com/package/short-crypt), which didn't give an example of it's output on the docs but may be more su

[2022-05-25 09:03] TAKANOME-DEV commented on #39
There is one thing that I forgot to mention, we have to use [supertest](https://www.npmjs.com/package/supertest) to handle http request to our endpoints.
Here is a quick [video](https://www.youtube.com/watch?v=FKnzS_icp20) on how to use supertest and jest.

[2022-05-25 09:40] MizouziE commented on #39
@TAKANOME-DEV that is a great video! Thanks man. I'm used to TDD in Laravel/PHP and had never actually seen an example of it in Node/JS. I really think having those libraries in place will help with future feature development because we're already seeing some great, but complex to build, feature suggestions.

So I propose the following:
-  change this issue to just installing Jest & supertest with

[2022-05-25 10:44] TAKANOME-DEV commented on #39
Absolutely we can do that.
* Install jest & supertest and test the main route to make sure that it return index.html
* Each issue ➡️ 1 endpoint
* Sure you can raise a PR and we will discuss about the inputs of that file or create a separate issue for that

One thing I would like to add is this:

![energy](https://user-images.githubusercontent.com/79809121/170244152-2e7afa49-dced-4288-bbc2-92ee9ea0

[2022-05-25 17:50] rutterjt commented on #42
Hey there, mind if I fix this?

[2022-05-25 18:09] MizouziE commented on #42
@rutterjt It would be much appreciated!

[2022-05-25 19:17] #42 closed

[2022-05-25 19:20] #46 closed

[2022-05-25 20:53] #39 closed

[2022-05-26 10:36] MizouziE opened #56 "Add politician twitter handles"
### What would you like to share?

Similar to #49 it strikes me that the project could do with more sources on the twitter front.

So far the list is only
[code]

Please follow a similar format and add the twitter handles of a politician that **YOU** think is worth listening out for.

### Additional information

The list is located in file `./src/data/accounts.json`

[2022-05-26 10:53] MizouziE opened #57 "[BUG] incorrect path in controller"
### What bug did you encounter?

Upon launching the development server, visiting the homepage gave the following error:
[code]

### What did you expect to happen?

The homepage to load.

### Screenshots

Error message in terminal:
![image](https://user-images.githubusercontent.com/90829439/170473209-d95fb9ad-bc84-4e5f-8614-db1e6d44d971.png)

Error message in browser:
![image](https://user-images.g

[2022-05-26 11:02] MizouziE opened #58 "[BUG] errors returned on api routes"
### What bug did you encounter?

visiting /api/news in the browser returns the expected data, but also the following error messages in the terminal:
[code]

### What did you expect to happen?

No errors as the route is working as expected.

### Screenshots

All good on this end:
![image](https://user-images.githubusercontent.com/90829439/170474700-90af43f0-291b-4092-9343-4e1f6b7a7e97.png)

### Add

[2022-05-26 11:16] TAKANOME-DEV commented on #58
Oh, it seems like I screw up something, would you mind if I take it and try to figure out what's going on here??

[2022-05-26 11:22] MizouziE opened #59 "[BUG] Empty string being returned"
### What bug did you encounter?

Upon accessing API routes in the browser, the list of articles includes some empty strings

### What did you expect to happen?

If an article is empty, it should not be included in the list

### Screenshots

`""` returned from BBC news source:
![image](https://user-images.githubusercontent.com/90829439/170477835-2db94792-8413-48b6-88b6-5b85f919f9f2.png)

### Additi

[2022-05-26 11:31] MizouziE opened #60 "[BUG] Only getting one article per source on `api/news` route"
### What bug did you encounter?

For each news source, only a single article is coming back.

### What did you expect to happen?

For each source there should be a number of articles returned.

### Screenshots

![image](https://user-images.githubusercontent.com/90829439/170479076-e0aac4fd-6a94-4ad0-88cb-e1fbebb8a37e.png)

### Additional information

I believe that within `./src/utils/getDataFromCh

[2022-05-26 11:37] MizouziE commented on #58
Don't worry about it! All it does is prove that we were right to implement a testing structure!

I would say for this one and the other two relatively easy and similar bugs, leave it and hopefully they are picked up soon by new contributors. The bug in #60 is a little more complex and maybe you'd prefer to fix that one **however** I think it best you take a look *after* these three get cleared up.

[2022-05-26 11:48] TAKANOME-DEV commented on #58
Thanks for catching my stupid bugs 😅
We need to write more tests to prevent these things happening

[2022-05-26 11:51] MizouziE commented on #58
@TAKANOME-DEV mate, if we didn't create bugs, it wouldn't be **development**!

[2022-05-26 12:44] TAKANOME-DEV opened #61 "[FEAT] - Move the logic of filtering the title in getTitle method"
### What feature would you like to see?

I would like to move all the logic of filtering the title inside the `getTitle.js` file. That way, it is easy to test and hide these implementation details to the `getDataFromCheerio` file.

### Possible implementation

Here is an example of a possible implementation:

[code]

I also wrote a test for that and it works very well ✅

### Additional information

[2022-05-26 16:27] #61 closed

[2022-05-26 19:12] dcordoba97 commented on #59
Hello team!

### Task
By removing the value from `filterTitle` & `url` I tripped on a similar bug.
![image](https://user-images.githubusercontent.com/46203203/170560052-aa35d1c6-6501-4d2d-af08-31811c23a0a0.png)

[2022-05-26 19:38] dcordoba97 commented on #59
Hey team!

## Task
- If an article is empty, it should not be included in the list

As told before, I removed the value from `filterTitle` & `url` and found a similar bug:

![image](https://user-images.githubusercontent.com/46203203/170560223-365995d5-8a43-4806-a90d-7265d17cb51d.png)

## Idea / Proposal

- First thing that came to my mind while reading the issue was to evaluate the value from titl

[2022-05-26 20:23] MizouziE commented on #59
@dcordoba97 Hey man, thanks for looking into this. It's strange though as I am not getting any undefined values being returned.
## For example this is with the code as it is now:
![image](https://user-images.githubusercontent.com/90829439/170572440-63e81297-0fca-4745-8d4e-5a85ab30f90b.png)

## And then by just commenting out lines 7 & 8 in`getDataFromCheerio.js` I get this response:
![image](https

[2022-05-26 20:33] MizouziE commented on #59
# Hold the phone!
I am wrong! My method introduces a *new* bug that messes with the order of things being passed back to the controller on closer inspection.

@dcordoba97 please go with your way as it is avoiding the issue my way causes. I have mentioned another problem in #60 that I believe may be related and once THAT is solved it would put this to bed, but your way still comes out on top at thi

[2022-05-26 21:58] #31 closed

[2022-05-27 10:17] MizouziE opened #66 "[DOC] - add contributor code of conduct"
### What is incorrect in the documentation?

This file doesn't exist yet...

We need to make it!

### What should that text say?

You can find the "almost ready to use" text [pre-written in markdown here](https://www.contributor-covenant.org/version/2/0/code_of_conduct/code_of_conduct.md).

Please create a file named `CODE_OF_CONDUCT.md` in the root of the repository, copy the content from the abo

[2022-05-27 18:11] alesbe commented on #66
I'll take the issue if you want!

[2022-05-27 19:31] #66 closed

[2022-05-27 20:44] alesbe opened #68 "[BUG] Can't find `index.html` when accessing root path on Linux"
### What bug did you encounter?

Runing the server with `npm run dev` and accessing `localhost:8000` from the browser, displays the error in the terminal and the browser:

**"Error: ENOENT: no such file or directory, stat '/home/[user]/views/index.html'"**, replacing [user] with the computer user.

### What did you expect to happen?

I expected to see `index.html` when accessing `localhost:8000`

[2022-05-27 20:47] alesbe commented on #68
Only happens with the root path, accessing `/api/news` returns the correct data:

![data](https://i.imgur.com/uOqteuB.png)

[2022-05-27 21:00] alesbe commented on #68
This workaround seems to fix the issue, but I'm not sure why this happens and if it's only on Linux:

![img](https://i.imgur.com/FuIzO2W.png)

[2022-05-27 21:31] MizouziE commented on #57
This issue was never fixed in the linked PR.
@MizouziE did a bad code review...

My apologies!

[2022-05-27 21:36] MizouziE commented on #68
Yes, it seems that I did a bad code review when closing #57...

My bad, I have re-opened the issue as the solution I proposed in it still stands. And it should be fine for a linux system as I also work on one.

Thanks @alesbe for bringing this to our attention! I will fix it now as it was my fault for missing it.

[2022-05-27 21:38] alesbe commented on #68
Great, you can close this one and continue the approach using #57 if you want!

[2022-05-27 21:41] #57 closed

[2022-05-27 21:41] #68 closed

[2022-05-27 22:11] #2 closed

[2022-05-28 20:14] dbsaw commented on #44
https://www.npmjs.com/package/short-crypt
tried this but it didn't work cuz it uses CDN

[2022-05-29 17:02] MizouziE commented on #44
@dbsaw I'll have to try out what I was thinking to do cos the cdn side shouldn't matter as we only wanna use the installed part server-side. If I figure out a way I'll put it up here.

[2022-05-29 19:57] MizouziE commented on #44
I ran `npm i short-crypt` and tried out a few things to see what can be done.

Here is an example of what I was hoping for:
![image](https://user-images.githubusercontent.com/90829439/170888812-adca6469-428c-4af9-b94e-271198488a43.png)

This was achieved in a slightly different way to what I originally proposed which was based on the library's docs.
- I used `const sc = require('short-crypt')` at

[2022-05-29 20:41] MizouziE commented on #44
Please see new [branch commit history](https://github.com/MizouziE/energy-prices-api/compare/master...proofs-of-concepts-shortcrypt-and-cheerio-array) for example implementation and subsequent comments explaining steps.

_Please note_: There are changes regarding a separate issue in there too so just worry about the code discussed in the above conversation.

[2022-05-29 20:45] MizouziE commented on #60
I made a few little experiments that may shed some light on the solution to this. I have [saved them in a separate branch](https://github.com/MizouziE/energy-prices-api/compare/master...proofs-of-concepts-shortcrypt-and-cheerio-array) if you want to take a look.

_Please note_: There is also a separate issue being addressed in the branch so only worry about the changes made to `getDataFromCheerio.

[2022-05-30 17:06] dbsaw commented on #44
Yes I think that solved the problem. Is it ok to merge it to the master branch or there is another problem?

[2022-05-30 19:30] SquatCub commented on #58
Hello there, could you assign me the issue? I'd like to contribute

[2022-05-30 21:38] MizouziE commented on #44
@dbsaw To be honest, I didn't even consider merging that branch as I only wanted to prove it could work somehow. However now that you mention it, it does make sense to just merge it and refactor/improve later as it will eliminate a number of issues.
Thanks for the idea! I'll make the PR and perhaps you and @TAKANOME-DEV could review it before it is merged?

[2022-05-30 21:43] MizouziE commented on #58
Hi @SquatCub , I have to apologise because this particular issue was handled but the PR was mis-labeled and didn't close the issue. I am going to make a PR shortly and perhaps you wouldn't mind reviewing it before it is merged?
The PR will close a number of the most recent issues, but #27 is still definitely in need of attention if you'd like to take that on, let me know in the comments to assign

[2022-05-30 21:55] #58 closed

[2022-05-30 22:47] TAKANOME-DEV commented on #29
Hey @shebuel-oss if you have any question about the contributing file, we are here to help

[2022-06-02 08:22] #44 closed

[2022-06-02 08:22] #59 closed

[2022-06-02 08:22] #60 closed

[2022-06-02 10:24] MizouziE commented on #16
As an extra, it would be good to use a ternary operator to return the url from `<meta property="og:image" content="**this here url**">` **OR** the nice `energy-price-api-logo` that was so kindly created for us. It's in the `public/images` folder.

[2022-06-03 10:11] MizouziE opened #73 "Add `<meta>` tag with link to `og:image` in homepage head"
### What would you like to share?

A new `<meta>` tag is needed in the head of the index page `src/views/index.html`

[Please read this article for an explanation](https://www.linkedin.com/pulse/how-i-just-customised-my-featured-link-thumbnail-sam-anglin/) of what is needed if you need.

The `<meta>` tag will require `property="og:image" content="<url to your image>"` where the url will be path to

[2022-06-03 15:28] MizouziE opened #74 "[BUG] Single source routes broken"
### What bug did you encounter?

The UUID generating logic needs to be copied from the `/news` endpoint controller over to the `/news/:source` controller (single source) controller below it.

Only the `try` block within the `getNewsBySource` method needs altering to the below:
[code]

### What did you expect to happen?

Due to the changes made to the data fetching, this controller was not receivin

[2022-06-04 15:26] TAKANOME-DEV commented on #16
After I saw #75 I definitively need to go checkout some regex stuff 😅

[2022-06-04 16:16] MizouziE commented on #16
Haha! It's powerful stuff, but takes forever to write 🤯

I'm pretty sure that function does more than necessary, but it was the only way I managed so far to return what I wanted. Hopefully someone will come along and improve it 🤞

I'll try to work the other bugs out if nobody makes any suggestions, but I'm **definitely** open to suggestions.

[2022-06-04 16:25] TAKANOME-DEV commented on #16
It works so that's great 👍
Yeah for sure go ahead

[2022-06-04 16:27] TAKANOME-DEV commented on #74
@MizouziE I'm wondering what happen if someone try to get a single source that does not exist in the `sources.json`??

[2022-06-04 16:39] MizouziE commented on #74
Just returns an internal server error on the deployed version atm
![image](https://user-images.githubusercontent.com/90829439/172016720-c5f7bd0c-e9a1-411e-8560-d19b33d1707e.png)

But I haven't checked the most up to date master branch. I think there's a 404 page view somewhere so I think that was set up to be returned, but I'll need to confirm later

[2022-06-04 16:51] TAKANOME-DEV commented on #74
That's exactely what I thought.

 In my opinion we should not return a 404 page in such cases but instead we can add a middleware that check if the resource (enter by the user) exist and if not return an explicit error message (and 404 status) to let him know that this particular result does not exist (and avoid unnecessary network request)

Perhaps you can open another issue for open discussion a

[2022-06-04 17:01] MizouziE commented on #74
Very good idea!

[2022-06-04 17:05] MizouziE opened #77 "[FEAT] - Middleware to handle non-existing source request"
### What feature would you like to see?

A middleware that checks the list of sources and decides whether to proceed with the request or redirect to some kind of response that informs the end user of a bad request (400)

### Possible implementation

Open to discussion

### Additional information

It may involve separating one of the jobs done by the single source controller.

[2022-06-08 14:07] #73 closed

[2022-06-08 14:10] MizouziE opened #78 "[CHORE] - Improve on existing `<meta>` tags in head"
### What work needs to be performed?

Additional `<meta>` tags can be added to the homepage head.

### Additional information

Please refer to closed issue #73 and it's merged PR #76 for details on what is needed.

The issue includes a link to an article explaining the additional tags needed for optimization.

[2022-06-08 14:56] #16 closed

[2022-06-08 14:56] #74 closed

[2022-06-08 15:10] MizouziE commented on #77
In development this doesn't seem like a huge issue, but in production it causes the server to crash. We definitely need a safeguard here!
![image](https://user-images.githubusercontent.com/90829439/172652342-c9dda439-0835-4742-8043-c677f8da1abc.png)

[2022-06-08 15:23] MizouziE opened #79 "[FEAT] - thumbnail image returned improvement"
### What feature would you like to see?

As it stands, the image returned with each article object is the `<og:image>` from the parent site.
I think it would be better to have:
- The `<og:image>` from the individual article as some sources have customized ones
- Maybe even different size options using:
    - `<og:image>` as the `"thumb"`
    - Finding a main image as a `"large"`
    - Alt text for

[2022-06-08 21:35] dbsaw commented on #79
## I think those are what you are looking for
![image](https://user-images.githubusercontent.com/66219217/172721402-4303ade8-91fd-4770-9df9-745be8a64b7e.png)

[2022-06-08 21:44] MizouziE commented on #79
Yes precisely. The part I couldn't figure out quickly was how to load each individual url in time to then scrape and extract that.

I did it within the getaDataFromCheerio method's forEach loop and it didn't manage fast enough and wasn't returning something in time. This method is scraping the "parent" and returning data of the children. The image we want is actually data within the child url whic

[2022-06-09 07:22] TAKANOME-DEV commented on #27
Hey @nulad  @MizouziE  any idea about this??

[2022-06-09 07:31] MizouziE commented on #27
@TAKANOME-DEV Nothing more than I was hoping to write an issue that would use a 29 minute timeout to "reactivate" the site to prevent the heroku server going to sleep.
Perhaps we can kill two birds with one stone?
Reactivate by refreshing the article list. Would that be possible?

[2022-06-09 08:50] TAKANOME-DEV commented on #27
I really don't know about that but have a look [here](https://github.com/nhcarrigan/issues-list-api/blob/677af1929b6f1692ea82da57df5079006ccd565f/src/index.ts#L21) it refetch the data after `1800000ms` .
Is that the same you meant about `reactivate after 29 minutes`??

[2022-06-09 10:50] TAKANOME-DEV commented on #27
Yeah I agree

[2022-06-26 16:04] MizouziE opened #88 "[BUG] Washington post site causing error"
### What bug did you encounter?

When running the scraper locally, one of the newer sources triggered a `Error [ERR_FR_TOO_MANY_REDIRECTS]: Maximum number of redirects exceeded`.

Other new sources worked as expected and provided links, but it is unclear if this error blocks subsequent scraping.

Further investigation may be required.

### What did you expect to happen?

No error.

### Screenshots

[2022-06-26 16:07] #78 closed

[2022-06-30 18:50] cortezroberto commented on #88
Hello @MizouziE , I'd like to work on this issue and make some research about the bug!

[2022-06-30 18:56] MizouziE commented on #88
Thanks @cortezroberto 🙏
I'll assign it right away!

[2022-07-06 16:21] Yoshemith commented on #77
Hi @MizouziE, I was looking through the project and you're right, it tends to break when there is no existing source. I'd like to work on this issue. I'm thinking of creating a middleware as you described.

[2022-07-09 17:02] MizouziE opened #91 "[CHORE] - Improve CNN source"
### What work needs to be performed?

The object added to `src/data/sources.json` for CNN does not return many articles the way it is currently as:
[code]

After a little digging I found that scraping the more specific `business` section yielded better results, so the `"site":` needs to be updated to `"https://edition.cnn.com/business",`

### However, there was a GOTCHA

Upon changing it to this I

[2022-07-10 16:03] MuizU commented on #91
@MizouziE Can i be assigned this task?

[2022-07-10 22:25] MizouziE commented on #91
@MuizU Most certainly, thank you!

[2022-08-03 12:44] snehashish-ghosh98 commented on #49
Hello,
I am a complete beginner and would like to contribute to this issue. Will you assign this to me first or I can just go ahead and create a PR?

[2022-08-03 14:29] MizouziE commented on #49
Hi @snehashish-ghosh98 ! This particular issue is a wide open one so just go ahead and create a PR. We're not too strict on whether you reference this issue or not, but use the opportunity to play around with linked PRs and issues etc.

Very happy to have you on board!

Also thanks for asking a question, we'd really like to encourage others to do the same whenever anything is unclear.

[2022-08-06 23:59] MizouziE opened #97 "[BUG] Broken image for articles from "The Times""
### What bug did you encounter?

When checking a cool frontend app someone built for this site, I noticed that the articles from "The Times" were not showing an image **or** the back-up image we set.

### What did you expect to happen?

The backup image. (site logo).

### Screenshots

![image](https://user-images.githubusercontent.com/90829439/183269414-54fed2fe-96ad-4997-9397-ade072122b0e.png)

#

[2022-08-07 07:03] MuizU commented on #97
@MizouziE I'd like to be assigned if possible

[2022-08-07 08:06] poljsakerik commented on #97
I can wok on this

[2022-08-07 08:32] #77 closed

[2022-08-07 08:40] MizouziE commented on #97
Hi @MuizU & @poljsakerik , I'd be very happy to credit you both on this if you'd like to discuss it between you, create a new branch and both push to it before making the pull request?

Feel free to use this issue as the place to have the discussion.

[2022-08-10 00:49] MizouziE opened #99 "[BUG] missing URL base for Zee News"
### What bug did you encounter?

Getting the articles back for Zee News, the URLs  are missing the base.

### What did you expect to happen?

Full URL to be returned.

### Screenshots

![image](https://user-images.githubusercontent.com/90829439/183786352-4c72c12f-a37c-4496-803f-4fcd2dd83dbb.png)

### Additional information

Take a look at the structure of the other sources for a hint how to write

[2022-08-10 16:22] MizouziE opened #100 "[FEAT] - Split news sources into regions"
### What feature would you like to see?

The list of sources has grown very nicely lately, so it might be handy to have another method of splitting them.

The same way we have endpoints for each individual news source, I would like to be able to separate them by region also.

For example:
- Europe
- Asia
- Africa
- Americas

### Possible implementation

- We will need a new dynamic route made in t

[2022-08-11 10:38] MizouziE opened #101 "Server crashes"
### What bug did you encounter?

The server is not happy with the current version

### What did you expect to happen?

Smooth sailing

### Screenshots

![Uploading 79BABE29-E741-44CA-8CB2-3E83EA73248F.jpeg…]()

### Additional information

Brought to my attention thanks to @scottjwilson and @TAKANOME-DEV

guys, whoever starts working on this first, open a draft PR immediately on the branch so the o

[2022-08-11 11:31] MizouziE opened #102 "[BUG] Article scraping is too case sensitive"
### What bug did you encounter?

When cross checking sites scraped and the returned articles, it can be seen that articles containing "energy" are returned, but not "Energy" so we miss out on quite a few.

### What did you expect to happen?

A non-case-sensitive search

### Screenshots

_No response_

### Additional information

The search is performed by cheerio in the file `./src/utils/getDataFr

[2022-08-11 11:47] MizouziE commented on #102
Of course we could cheat and just add capitalized versions of the keywords...

But only if there isn't a more elegant solution. 😉

[2022-08-11 11:58] MizouziE commented on #101
After a lot of waiting and probing, finally got some errors back:

[code]

Would it be an idea to put a time limit on the axios request to prevent these errors causing the crash?

[2022-08-11 12:07] MizouziE opened #103 "[CHORE] - Better url for Sky News"
### What work needs to be performed?

inside the sources file `src/data/sources.json` around line 32, please change the following:
[code]

to:

[code]

### Additional information

This is just because I noticed energy price related articles were no longer being published in the climate section of the site and found more useful articles in the business section.

[2022-08-11 12:35] MizouziE opened #104 "[CHORE] - Better url for CNBC"
### What work needs to be performed?

inside the sources file src/data/sources.json around line 47, please change the following:

[code]

to:

[code]

### Additional information

This is just because I noticed energy price related articles were no longer being published in the world section of the site and found more useful articles in the energy section.

[2022-08-11 13:33] nomandhoni-cs commented on #104
@MizouziE I fixed and made a pull request. Please have a look https://github.com/MizouziE/energy-prices-api/pull/105#issue-1335964796

[2022-08-11 13:47] #103 closed

[2022-08-11 13:47] #104 closed

[2022-08-11 14:31] MizouziE opened #107 "[CHORE] - better URL for The Times"
### What work needs to be performed?

inside the sources file `src/data/sources.json` around line 7, please change the following:

[code]

to:

[code]

### Additional information

This is just because I noticed energy price related articles were no longer being published in the general news section of the site and found more useful articles in the environment section.

[2022-08-11 14:33] MizouziE opened #108 "[CHORE] - better URL for ABC news"
### What work needs to be performed?

inside the sources file `src/data/sources.json` around line 52, please change the following:

[code]

to:

[code]

### Additional information

The front page was missing good articles whereas the world news page has some good ones.

[2022-08-11 14:35] MizouziE opened #109 "[CHORE] - add to keywords"
### What work needs to be performed?

Let's add some more to the list in `src/data/keywords.js`:

- gas prices
- petrol prices

### Additional information

Seems to be a related hot-topic

[2022-08-11 18:22] MizouziE commented on #101
The express rate limit is to allow one one request per second per IP to our API (I believe) to give some protection against overloading the server.

The problem I _think_ we're having is when cheerio loads the source websites and finds an error that isn't caught and moved on from. The error just makes everything stop and the server goes down until I manually restart it.

I will need to check prope

[2022-08-11 18:36] MizouziE commented on #101
@scottjwilson i forgot to say that you're absolutely right about creating a "refresh articles object" type command/job to run once every 15/30 minutes. It was discussed once in another issue as it would also stop the heroku server from going to sleep. But I don't think any of us followed through with a solution.

[2022-08-11 22:38] mrajen27 commented on #109
Team, I will work on this and raise an PR.

[2022-08-12 00:38] MizouziE commented on #109
Hey @mrajen27 thanku, but I missed closing this issue with a PR that was merged a few hours ago.

We still need some help on #107 and #108 if you'd like to contribute?

[2022-08-12 00:39] #109 closed

[2022-08-12 00:42] mrajen27 commented on #109
Yes sure I will work on it and raise the PR

[2022-08-12 18:13] #107 closed

[2022-08-12 18:13] #108 closed

[2022-08-12 18:16] #97 closed

[2022-08-13 04:49] scottjwilson commented on #101
@MizouziE ah man, i'm embarrassed. I sloppily threw together the front end, and now you get to see how bad I made it lol. And without documentation 🤦‍♂️

[2022-08-13 10:25] MizouziE commented on #101
@scottjwilson Nah bro, no need to be at all! The app is very cool. IT HAS DARK MODE! That's absolutely the most important thing.
The entire point of this project is to learn stuff and practice developing apps that work out in the wild without any tutorials anyway. Real web apps are usually released at first while still just the POC so have an element of Frankenstein about them 😂🧟‍♂️
Without ur app

[2022-08-13 20:58] MizouziE commented on #99
## Hint:

Please change `src/data/sources.json` ~line 67 from:
[code]

to this:

[code]

[2022-08-16 09:24] KetanParmar07 commented on #99
Hey, @MizouziE I would like to work on this issue. please assign to me.

[2022-08-16 10:24] MizouziE commented on #99
@KetanParmar07 Much appreciated!

[2022-08-16 10:26] KetanParmar07 commented on #99
What I have  to do?

[2022-08-16 10:32] MizouziE commented on #99
1. Fork the repository
2. clone your forked repo to your local file system
3. Inside the [`src/data/sources.js`](https://github.com/MizouziE/energy-prices-api/blob/6ba9f6bfcb4682c8670dca16a44228aebb618869/src/data/sources.json) file edit the object for Zee News as described above.
4. Commit the changes
5. Make a Pull Request from your forked repo to this one
6. After reviewing, I'll ask for change

[2022-08-16 11:56] #99 closed

[2022-08-17 02:10] KetanParmar07 commented on #102
Hello, sir I am interested in solving this issue. so please assign to me this issue.

[2022-08-17 02:15] KetanParmar07 commented on #102
Now, What should I do?

[2022-08-17 02:22] KetanParmar07 commented on #79
Hello, sir I am interested in solving this issue. so please assign to me this issue.

[2022-08-17 02:23] KetanParmar07 commented on #79
**Now, What should I do?**

[2022-08-17 18:40] MizouziE commented on #102
@KetanParmar07 This one is about research and discovery.

- Reproduce the bug and experiment with it to see what differences there are.
- Read the documentation referenced in the comments above to see if something already exists to solve our problem.
- If not, try to create a solution.
- Research a little about regular expression searches as I think there may be a solution in understanding them we

[2022-08-17 18:44] MizouziE commented on #79
@KetanParmar07 I'll leave this one open while you're working on the other issue assigned to you. If this is still free when you're done over there then I'll assign it right away.

[2022-08-18 04:29] KetanParmar07 commented on #102
hello, sir in which file to add solution??

[2022-08-18 10:12] MizouziE commented on #102
Wherever you think it needs to go. I would start by looking in `src/utils/getDataFromCheerio.js` to understand how the function makes use of the cheerio library to scrape the news sites using the list of keywords.

Look through the files and see how it all links up and decide where you think is best to intersect, if needs be.

[2022-08-25 14:45] MizouziE opened #118 "[FEAT] - Endpoint with list of sources"
### What feature would you like to see?

A new endpoint added that lists:
- The names of available sources
- Links to the single source endpoint for each
- Maybe an image for the source

### Possible implementation

something like `/api/news/sources` would be good.

### Additional information

It must be dynamic and generated from the `src/data/sources.json` file.

Bear in mind that the single sou

[2022-09-01 14:44] MuminAhmadKhan commented on #118
Hello @MizouziE , I'd like to work on this issue.

[2022-09-01 15:13] MizouziE commented on #118
Fantastic! Thanks a lot and please ask any questions if you need to, I'll answer as soon as I possibly can.

[2022-09-01 15:59] MuminAhmadKhan commented on #118
Lets say the source is sky news  then the single source endpoint is  .../api/news/skynews [https://energy-price-news-api.herokuapp.com/api/news/skynews] , right?

[2022-09-01 17:04] MizouziE commented on #118
Yes, exactly that. It's the name, without spaces and all lowercase.

[2022-09-02 06:14] MuminAhmadKhan commented on #118
Should We include image url into sources.json as they rarely change or should I use cheerio.io which would result in more resource and time consumption for users?

[2022-09-02 09:29] MizouziE commented on #118
That is a good point! I would say, get it working with cheerio for now but create an issue to change the structure over later. The images are already a separate issue as I'd prefer that the image for the articles object returned were specific to each article rather than just the og:image of the news site. This og:image is actually what would be best suited to what you're building here.

[2022-09-02 13:54] TAKANOME-DEV opened #119 "[BUG]: Server crashes due to twitter searchs"
### What bug did you encounter?

After installing the dependencies and start the server, it crashes. After looking through the console, I found that there are some issues with the twitter search.
I wonder why add the `keywords` on the search query, I think that caused the issue :
[code]
The simplified error is here:
[code]

### What did you expect to happen?

I was expecting the server to start an

[2022-09-02 15:37] MizouziE commented on #119
Shall we open a new branch to start migrating the twitter searching over to simple calls to the Twitter API?

I was reading [the docs](https://developer.twitter.com/en/docs/twitter-api) and it looks like a much better alternative but does require a bit of work to set up. It would certainly take a load off our server by just forwarding queries, so it's worth it.

Let me know what you think.

[2022-09-02 16:35] TAKANOME-DEV commented on #119
Oh the issue was the space in the keyword, I replaced all `spaces` with `%20` and it did work. So I'm thinking about adding a new utility function that will filter and replace spaces with `%20`.

And yeah migrating to twitter API sounds good to me. please go ahead :pray:

[2022-09-02 21:56] MizouziE commented on #119
THE SPACES!!! That never even occurred to me. Nice catch!

The,

problem is on the twitter end, I think some results will show on a page refresh... I think. I noticed something like this a long time ago and just stepped away and forgot about it, bu tit had some weird workaround like that.

Definitely go for the util func though as I don't see the API migration happening quickly!

[2022-09-02 23:15] #119 closed

[2022-09-03 07:22] TAKANOME-DEV commented on #40
I think we can start brainstorming about this :hammer_and_wrench:

[2022-09-03 07:23] TAKANOME-DEV commented on #29
@shebuel-oss any updates on this ?

[2022-09-03 09:22] MizouziE commented on #40
@TAKANOME-DEV Now that it's in an organization, we can make more repos to have different types of front end approaches.

There is one example frontend app that is linked from the homepage already, but it's the only one so far.

[2022-09-03 09:36] TAKANOME-DEV commented on #40
Oh I didn't pay attention to that, I will check it out.
Yeah you can create more repos for examples 🚀

[2022-09-04 19:43] #118 closed

[2022-09-05 05:18] MuminAhmadKhan commented on #100
hey @MizouziE I want to work on this.

[2022-09-05 09:00] MizouziE commented on #100
@MuminAhmadKhan Sure man! The stuff you did for the sources-list was great and I think this should be similar.

One thing I'd suggest (if you would like to) is to allocate the adding of regions to the sources objects to a new/separate issue as it will be very repetitive but should be simple, so a perfect opportunity for a new-comer. Perhaps do 2 or 3 just to test the controllers & routes you creat

[2022-09-06 16:23] MuminAhmadKhan commented on #100
Should I add the regions in  a seperate json file  or  write them in the concerned file only ,   for checking whether the input is valid and displaying the relevant sources from a particular region?

[2022-09-06 17:28] MizouziE commented on #100
@MuminAhmadKhan That's a very good point! If we have a separate "data/regions.json" then we can not only validate the region provided for a source, but also have another endpoint showing what regions we cover. 💡💡💡

Feel free to tackle this as part of this ticket or make a separate issue. I need to update ur contribution to include "ideas" cos this is great!

[2022-09-07 16:20] MuminAhmadKhan commented on #100
I am thinking of paths /api/new/regions showing the regions covered and say /api/news/regions/europe showing sources covered in europe? What's your say?

[2022-09-07 16:33] MizouziE commented on #100
@MuminAhmadKhan I agree that sounds like the most sensible approach. Nice structure. 👌

[2022-09-09 16:04] MuminAhmadKhan opened #124 "Add region attribute to existing news sources and update regions.json"
### What would you like to share?

Existing new sources in data/sources.json have empty region attribute , add the corresponding region to each source
like Americas , Europe , Asia .
Also if a source is in a region that is not already present in data/regions.json , add the new region to it as well .

### Additional information

_No response_

[2022-09-10 06:25] MuminAhmadKhan commented on #100
Is the Issue done or is something pending?

[2022-09-10 09:20] MizouziE commented on #100
Done, I just forgot to link this to the PR to automatically close it.

[2022-09-10 09:21] #100 closed

[2022-09-11 04:01] Dev79844 commented on #124
I would like to work on this.

[2022-09-11 08:56] MizouziE commented on #124
Thanks @Dev79844 , please go ahead

[2022-09-11 20:25] MizouziE opened #126 "[CHORE] - Update Endpoints on homepage"
### What work needs to be performed?

On the homepage for the site is a list of possible endpoints with a clickable link so people may navigate ti them directly.

Recently we've added a number of endpoints:
- `/news/sources`
- `/news/regions`
- `/news/regions/{regionId}`

Please add each with a brief description like the ones already there.

## Also
Please comment out the twitter endpoint for the

[2022-09-11 20:36] MizouziE opened #127 "[FEAT] - Pagination of articles"
### What feature would you like to see?

The list of returned articles is getting quite long. It might be time to start thinking about adding pagination to the list.

### Possible implementation

Set up as an accepted query parameter with a default setting of **unpaginated** if not specified to prevent breaking apps already made to consume the data as it is.

We'll need the usual things like:
- `u

[2022-09-16 07:47] MizouziE commented on #127
@MuminAhmadKhan absolutely!

I had a look at some packages like [pagination](https://www.npmjs.com/package/pagination) and [pagination-object](https://www.npmjs.com/package/pagination-object) which I wouldn't be against implementing OR I'd be more than happy if you wanted to build it from scratch.

Take a look at the packages anyway as they'd make a good guideline at the very least.

Thanks!

[2022-09-16 09:05] TAKANOME-DEV commented on #127
As @MizouziE said, I would suggest that you build it from scratch instead of using a library or a pagination library.
I think it's more simple to use [lodash slice method](https://lodash.com/docs/4.17.15#slice)

[2022-09-16 09:41] MuminAhmadKhan commented on #127
Thanks @MizouziE  and @TAKANOME-DEV , I will look into the suggestions and update you guys accordingly!

[2022-09-17 20:29] susi189 commented on #126
Hey @MizouziE, I would like to work on that one

[2022-09-17 21:31] MizouziE commented on #126
Hey @susi189 that would be great! Assigning you now, it's all yours. Thanks!

[2022-09-18 08:50] MuminAhmadKhan commented on #127
For this url :http://localhost:8000/api/news/?page=2&limit=6
![image](https://user-images.githubusercontent.com/63766734/190893786-dfbbf1c7-2e4a-4934-9df8-257b77eb1a54.png)
For this url :http://localhost:8000/api/news/?page=2
![image](https://user-images.githubusercontent.com/63766734/190893796-b7aab32b-9814-425b-9a38-20933fbb498d.png)
Limit is 5 by default.
For this url :For this url :http://loca

[2022-09-18 17:17] MizouziE commented on #127
Yes that's absolutely perfect. You built that already??

[2022-09-18 23:32] MuminAhmadKhan commented on #127
Yes I have built it

[2022-09-19 09:36] TAKANOME-DEV opened #130 "CHORE - Add pull request template"
### What work needs to be performed?

Add a new file called `PULL_REQUEST_TEMPLATE.md` in `.github` folder

### Additional information

- Adding a pull request template will give the reviewer to know what's the PR for at first glance.
- Also having a clean and nice structure for all PRs
- And, it will link the PR with the issue related so that when the PR is merged, the issue get closed automatica

[2022-09-19 16:23] TAKANOME-DEV opened #131 "OTHER - add `.github` repo for health files"
### What would you like to share?

Adding a community health files for [@Energy-Price-NewsAPI](https://github.com/Energy-Price-News-API) organization.

This repo will hold the health files like `CONTRIBUTING.md` `CODE_OF_CONDUCT` `ISSUE_TEMPLATE` etc and GitHub will use it and display default files for any repository owned by @Energy-Price-NewsAPI](https://github.com/Energy-Price-News-API)  that d

[2022-09-21 13:55] #127 closed

[2022-09-21 14:16] MizouziE opened #132 "[CHORE] - Clear out a missed `console.log()`"
### What work needs to be performed?

We recently had a very cool pagination feature added but the reviewer (... me) missed that one `console.log()` was left in from development.

It all works perfectly, but we need to remove one line to stop it dumping to the console every time the pagination is initiated.

Look in: `./src/utils/paginate.js`

And remove: `console.log(results)` from line 36.

That

[2022-09-21 14:39] TeaBizzy commented on #132
Hi @MizouziE I would like to contribute to this project and handle this issue.

[2022-09-21 14:42] TAKANOME-DEV commented on #132
@TeaBizzy thanks for your interest in contributing.
You can start working on it if you wish, @MizouziE will assign it to you ASAP :rocket:

[2022-09-21 16:38] MizouziE commented on #132
Sorry I'm late, thanks a lot @TeaBizzy !

[2022-09-22 13:47] TeaBizzy commented on #132
@MizouziE Friendly reminder we can close this now :smiley:

[2022-09-22 13:54] #132 closed

[2022-09-22 19:01] TeaBizzy opened #138 "[BUG] keyword.replaceAll is not a function."
### What bug did you encounter?

When running npm run dev the above error is shown multiple time and the terminal hangs.

Steps to reproduce.

1. Clone the repo into a new folder.
2. Navigate to the fold in terminal.
3. type `npm install`
4. type `npm run dev`

### What did you expect to happen?

In regards to discussion #137, I'm assuming this is suppose to build the site and host it on port 8000

[2022-09-22 19:40] TeaBizzy opened #139 "[BUG] Links in index.html are broken"
### What bug did you encounter?

When opening `index.html` in a browser, the CSS isn't working and the logo is broken.

### What did you expect to happen?

Webpage should be stylized by using `./public/css/styles.css` and look identical to [This link on the repo](https://energy-price-news-api.herokuapp.com/).

### Screenshots

Currently opening `index.html` looks like this:
![Screenshot from 2022-

[2022-09-22 19:56] TAKANOME-DEV commented on #139
Oh nice catch @TeaBizzy:clap:
Feel free to open a PR on this, @MizouziE will go through it as soon as possible.

[2022-09-22 23:49] #124 closed

[2022-09-22 23:54] MizouziE commented on #102
Hi @KetanParmar07 have there been any developments on this, I can't find a PR for it?

[2022-09-22 23:56] MizouziE commented on #101
We've calmed the current server down and plan to migrate over to an even more stable one soon!

[2022-09-22 23:56] #101 closed

[2022-09-22 23:57] #88 closed

[2022-09-22 23:59] MizouziE commented on #138
I have tried to give as detailed an answer as possible to this in #137 and  will close this issue due to the server the site being run on using Node v16.x.x and this problem does not occur there.

[2022-09-22 23:59] #138 closed

[2022-09-23 00:01] MizouziE commented on #139
Please refer to #137
I'll close this for the time being.

[2022-09-23 00:01] #139 closed

[2022-09-23 04:20] MuminAhmadKhan opened #143 "Adding documentation for the pagination feature"
### What would you like to share?

Here is the necessary information regaridng the pagination feature:
By adding query parameters page and limit any route can be paginated .
page parameter is necessary while limit is optional by default the value is 5 .
If none of the parameters is passed , a dictionary of result is returned , else
a dictionary of the following format is returned :
{
previous: lin

[2022-09-23 09:16] TAKANOME-DEV commented on #143
I think we should have API documentation like swagger or something to document each endpoint.
For example, what are the parameters, the type of request and the expected answer?

@MizuzieE, what do you think?

[2022-09-23 15:10] MizouziE commented on #143
That's definitely something to aim for! But we can keep it simple for now and build up to it.

Can we just do an API-DOCS.md for now and then I think we should be able to move that, along with other docs into a ./docs folder which we can then host free on github pages.

I've written an entire documentation for a work project that was super easy cos it was all on a Next.js utilising MarkDoc that pa

[2022-09-23 15:30] TAKANOME-DEV commented on #143
I'm all for it :rocket:

[2022-09-23 15:32] TeaBizzy commented on #102
Not sure if @KetanParmar07 is still working on this, but I took a look myself, scrubbing the cheerio docs I can't find anything that allows for case insensitive selector searches.

In my limited understanding we have 2 options:
1.  Add an extra loop that capitalizes the "e" in each energy keyword passes the new keyword through cheerio.
2. Since there isn't a lot of keywords, just add the capitaliz

[2022-09-23 15:42] TeaBizzy commented on #102
I ran a couple test just now where I removed the keywords that contained "energy", and instead used "energy". It appears to be giving the same results. I would speculate the best solution would be to just add "Energy" as a keyword instead of complicating the code.

@MizouziE let me know your thoughts on my speculation of redundant keywords. If they are indeed redundant should we remove them in thi

[2022-09-24 00:03] #143 closed

[2022-09-24 16:56] MizouziE opened #145 "[CHORE] - Remove constantly failing deploy action"
### What work needs to be performed?

Get rid of it cos you're taking too long to make it useful.

### Additional information

_No response_

[2022-09-24 17:02] #145 closed

[2022-09-24 19:41] MizouziE commented on #126
Hi @susi189 , do you have a PR ready for this? I try to keep it as fair as possible on here and check after one week if I can open an un-closed issue up to be assigned to someone else.

[2022-09-24 21:54] susi189 commented on #126
@MizouziE sorry, feel free to re-assign

[2022-09-24 22:09] MizouziE commented on #102
@TeaBizzy You are absolutely right! Looking back I think I was getting results that included things like "high energy breakfast" or something not really pertaining to the desired subject so I was trying to weed out results like that and didn't even use "energy" on it's own.

It seems things have changed as energy has become a more and more popular topic, so may I suggest commenting out the _now_ r

[2022-09-24 22:14] MizouziE commented on #126
@susi189 no need to be sorry at all! Please do keep an eye on the project and I hope we have a suitable opportunity soon :pray:

You'll always have first dibbs on this one if you submit an approved PR before anyone else.

[2022-09-25 03:22] TeaBizzy commented on #102
Ahhh, I didn't think about scenarios where energy could be associated with a food article.

I still think the easiest solution would be to just add keywords with a capital E as opposed to writing custom logic. I will make the changes tomorrow so we can close this issue. 😁

[2022-09-25 21:47] TAKANOME-DEV opened #149 "Test: Add a test suite for `api/news`"
### What would you like to share?

Add a test suite for the `news` endpoints.
### Steps:
- Add a new `describe block` for `/api/news/sources` inside `/__tests__/integration-tests/routes/news.test.js`
- move the first test suite inside `news.test.js` to that describe block: `it('should return all the articles', async () => {})`
- Add test suite for all possible scenarios

### Additional information

[2022-09-25 21:48] TAKANOME-DEV opened #150 "Test: Add a test suite for `api/news/sources`"
### What would you like to share?

Add a test suite for the `sources` endpoints.
### Steps:
- Add a new `describe block` for `/api/news/sources` inside `/__tests__/integration-tests/routes/news.test.js`
- Add test suite for all possible scenarios

### Additional information

[2022-09-25 21:48] TAKANOME-DEV opened #151 "Test: Add a test suite for `api/news/regions`"
### What would you like to share?

Add a test suite for the `regions` endpoints.
### Steps:
- Add a new `describe block` for `/api/news/sources` inside `/__tests__/integration-tests/routes/news.test.js`
- Add test suite for all possible scenarios

### Additional information

[2022-09-25 21:48] TAKANOME-DEV opened #152 "Test: Add a test suite for `api/news/regions:regionId`"
### What would you like to share?

Add a test suite for the `/:regionId` endpoint.
### Steps:
- Add a new `describe block` for `/api/news/sources` inside `/__tests__/integration-tests/routes/news.test.js`
- Add test suite for all possible scenarios

### Additional information

[2022-09-25 21:49] TAKANOME-DEV opened #153 "Test: Add a test suite for `api/news/sources/:sourceId`"
### What would you like to share?

Add a test suite for the `/sourceId` endpoint.
### Steps:
- Add a new `describe block` for `/api/news/sources` inside `/__tests__/integration-tests/routes/news.test.js`
- Add test suite for all possible scenarios

### Additional information

[2022-09-25 21:49] TAKANOME-DEV opened #154 "Test: Add a test suite for `api/twitter`"
### What would you like to share?

Add a test suite for the `/api/twitter` endpoint.
### Steps:
- Add a new file `twitter.test.js` inside `/__tests__/integration-tests/routes`
- follow the same structure as `news.test.js`
- Add test suite for all possible scenarios

### Additional information

[2022-09-25 21:49] TAKANOME-DEV opened #155 "Test: Add a test suite for `paginate.js` file"
### What would you like to share?

Add a test suite for the `src/utils/paginate.js` file.
### Steps:
- Add a new file `paginate.test.js` inside `/__tests__/unit-tests`
- Add test suite for all possible scenarios

@MuminAhmadKhan  Maybe this one's yours.

### Additional information

_No response_

[2022-09-25 21:49] TAKANOME-DEV opened #156 "Test: Add a test suite for `existingSourceMiddleware`"
### What would you like to share?

Add a test suite for the `existingSourceMiddleware` endpoint.

### Steps:
- Add a new file `existingSourceMiddleware` inside `/__tests__/integration-tests/middleware`
- Add test suite for all possible scenarios

### Additional information

_No response_

[2022-09-25 21:49] TAKANOME-DEV opened #157 "Test: Add a test suite for `existingRegionMiddleware`"
### What would you like to share?

Add a test suite for the `existingRegionMiddleware` endpoint.
### Steps:
- Add a new file `existingRegionMiddleware` inside `/__tests__/integration-tests/middleware`
- Add test suite for all possible scenarios

### Additional information

_No response_

[2022-09-28 09:10] MizouziE commented on #154
This one may throw a spanner in the works with the current iteration of the project.

However, it may also be a nice starting point to getting us to a solution for the twitter-problem we have (and are currently just ignoring).

[2022-09-28 09:12] MizouziE commented on #155
Let me know if you want it and I'll assign you sir :+1:

[2022-09-28 09:18] #126 closed

[2022-09-28 09:20] #102 closed

[2022-09-28 13:37] MuminAhmadKhan commented on #155
Please assign me sir @MizouziE

[2022-09-29 20:30] MizouziE opened #160 "[BUG] Euronews missing url base"
### What bug did you encounter?

Going to the single source route for `Euronews` I noticed that the URLs provided are in need of a base.

### What did you expect to happen?

A full URL to be returned so that a user of the API can link directly to the article found.

### Screenshots

![image](https://user-images.githubusercontent.com/90829439/193134916-cdbfaa40-9086-419a-8621-ccfe79c0b9f6.png)

###

[2022-09-29 22:02] #150 closed

[2022-09-30 08:28] ashwin-acharya01 commented on #160
@MizouziE can I work on this? I haven't really contributed to any project previously so could you guide me

[2022-09-30 08:36] MizouziE opened #163 "[FEAT] - Truncation"
### What feature would you like to see?

Addition of a middleware that provides a truncated title option as a query parameter

### Possible implementation

- optional
- With sensible default minimum
- Customizable length above minimum
- Include documentation
- Include test

### Additional information

Check how the pagination was implemented

[2022-09-30 08:54] MizouziE commented on #160
@ashwin-acharya01 Sure thing. I'll assign you and feel free to ask any questions that you have.

Are u comfortable with forking the repo and opening a new branch?

After that, make the changes u want, commit and push them to your remote branch and then open a pull request from your branch to the main branch on this repo.

Honestly ask as many questions as you need because it will help me to write

[2022-09-30 09:13] TAKANOME-DEV commented on #160
@MizouziE we definitely need to add the `CONTRIBUTING` file, feel free to take #29 :bulb:  it's been 4 months and there is no updates on that :thinking:

[2022-09-30 17:51] ashwin-acharya01 commented on #160
@MizouziE Thanks for assigning me this issue.
When I tried running npm run dev I'm actually getting this error

[nodemon] app crashed - waiting for file changes before starting...

I did try searching for it but feel kinda stuck.

[2022-09-30 17:57] MizouziE commented on #160
Hi @ashwin-acharya01 two questions:

1. Has `npm install` been run?
2. Can you give a screenshot or just copy/paste the last 20 or so lines of the error message in the terminal?

It may be that the twitter route is still acting up and I haven't yet merged the fix for it.

[2022-09-30 18:07] ashwin-acharya01 commented on #160
Yes I did run npm install
And the error message is pretty big but here I've attached some screenshots of the same
<img width="516" alt="image" src="https://user-images.githubusercontent.com/87590123/193330176-63e44929-8a52-4d84-b86a-ee04d5ce8262.png">
<img width="425" alt="image" src="https://user-images.githubusercontent.com/87590123/193330511-dd45c57a-dc5f-4d1c-9335-5ac3e229c4eb.png">

[2022-09-30 18:17] TAKANOME-DEV commented on #160
@ashwin-acharya01 kill and restart the server, this error is caused by the twitter endpoint and was suppose to be fixed by #162 :thinking:
Dont worry about the error, try restarting the server and make sure that your fork is up to date

[2022-09-30 18:25] MizouziE commented on #160
Yes I must apologise for not fixing this properly, but the fix **is** in the PR I am in the process of submitting.

Like @TAKANOME-DEV said, restarting the server once or twice usually gets rid of this error, but if it persists beyond that you can comment out line 5 of `src/server.js` as [I did here on the soon to be merged branch](https://github.com/Energy-Price-News-API/energy-prices-api/pull/16

[2022-09-30 18:46] TAKANOME-DEV commented on #160
Everything is working fine for me :thinking: and @MizouziE did fix that, try to update your repo:
- the easy way is to go on your forked repo on github, you should see that your branch is behind upstream, just hit `sync fork`  and `update branch`
- open the project in your terminal and type: `git fetch origin`
- `git merge origin/master`

[2022-09-30 18:55] MizouziE commented on #160
It's been popping up for me today which is why I made an extra change in this newest PR.

The scrape job was still going ahead even though the endpoint was removed.

Should have it all ready soon, just got some tests to write and it's complete.

[2022-09-30 21:25] #163 closed

[2022-10-01 04:10] ashwin-acharya01 commented on #160
@TAKANOME-DEV  @MizouziE  Thanks for the help. It's up and running.

Is this the expected result?
<img width="806" alt="image" src="https://user-images.githubusercontent.com/87590123/193388797-be18c37e-eb5f-424f-95e1-cecce662245e.png">

[2022-10-01 06:04] rupali-codes opened #166 "heroku link is not working"
### What would you like to share?

This **https://energy-price-news-api.herokuapp.com/** has stopped working, kindly update it.

### Additional information

_No response_

[2022-10-01 09:06] MizouziE commented on #160
It absolutely is! In all it's JSON glory 😂😂

Happy coding!

[2022-10-01 09:13] MizouziE commented on #166
Hi @rupali-codes , thanks for reporting. It is true that sometimes heroku closes the application down (puts it to sleep) because it is on one of their soon to expire free dynos.

This is an issue I am working on and need to hurry up and sort out. I'll be moving it over to private hosting that won't ever close down and the API will run indefinitely.

At the moment, if you see this:![image](https://

[2022-10-01 13:23] sanyamgandhak commented on #155
Hi there , Please assign to me

[2022-10-01 13:48] TAKANOME-DEV opened #168 "FEAT - update single source endpoint"
### What feature would you like to see?

I think it make more sense to update the single source endpoint from `/:sourceId` to `/sources/:sourceId` like the `regions` endpoint.

### Possible implementation

- change the endpoint for the single source id in `src/routes/api/news`
- convert the `sourceId` comming from the request params to Lowercase and remove any spaces in `src/middlewares/existingSo

[2022-10-01 15:17] chinmaykumbhare commented on #168
hi @TAKANOME-DEV , can you please assign this issue to me?

[2022-10-01 15:19] TAKANOME-DEV commented on #168
It's yours :rocket:

[2022-10-01 15:27] MizouziE commented on #155
Hi @sanyamgandhak , this issue is currently assigned to @MuminAhmadKhan , so it can only be re-assigned if they offer to step down or fail to respond after a long time.

Assuming that they'd like to finish this, I'd invite you to take a look through our issues as there are a number of very similar issues at the moment that we'd be very grateful for your contribution with.

Thanks for taking an int

[2022-10-01 15:35] MizouziE opened #169 "[CHORE] - Force Node version"
### What work needs to be performed?

We can force the version of Nodejs to use, have a look [here](https://github.com/blimmer/enforced-package-json-engines)

### Additional information

After adding the needed file, ensure that format of Node version is compatible in `package.json`

[2022-10-01 15:39] #8 closed

[2022-10-01 15:39] #13 closed

[2022-10-01 15:39] #29 closed

[2022-10-01 16:23] #130 closed

[2022-10-01 17:17] sanyamgandhak commented on #169
Hi there ,
Please assign it to me

[2022-10-01 17:35] shreyas2711 commented on #160
Can I take up this issue? I will be happy to contribute :)

[2022-10-01 18:39] TAKANOME-DEV commented on #160
Hi @shreyas2711 , thanks for taking an interest in the project!
This issue has been already taken by @ashwin-acharya01

Please take a look at our [issues here](https://github.com/Energy-Price-News-API/energy-prices-api/issues), there are plenty of `good-first-issue` that you can pick up and start contributing :rocket:

Feel free to ask any questions, we will get back to you as soon as we can

[2022-10-01 19:40] sanyamgandhak commented on #169
Completed it and raised PR request . Do check

[2022-10-01 21:05] MizouziE commented on #169
To close this issue please do the following.

1. Make a fresh fork of this repo so that you are in-line with the project
2. add a new file `.npmrc` in the root directory
3. add the line `engine-strict = true` to this new file
4. commit **only this new file**
5. open a PR to this repo

No further changes are required. My mention of the `package.json` format was just to check it still works as it is

[2022-10-01 21:29] sanyamgandhak commented on #169
Hi there ,
Created new PR . Please check

[2022-10-01 23:56] #169 closed

[2022-10-02 14:02] #168 closed

[2022-10-05 08:01] leonlafa commented on #166
@MizouziE let me know if you need any support getting this live.  I have time this morning to sort this out for you.

[2022-10-05 08:54] rupali-codes commented on #166
Since heroku shutting down their free services, I think vercel would be more better.

[2022-10-05 09:46] MizouziE commented on #166
Appreciate it @leonlafa , but I have a solution in the pipeline. Unfortunately it has to take a backseat to ongoing work projects right now.

@rupali-codes I agree that vercel is a better option than heroku, but where I plan to host this in the future will allow even more control over it.

I will need some help from a colleague when he and I have time, but I gotta get work done before I can concen

[2022-10-05 09:53] madalinignisca commented on #166
I'll hook you in.

[2022-10-05 11:37] MizouziE commented on #23
Right, Sam @MizouziE ...

It's time to use the bot for this and close this issue once and for all.

Go [here and read](https://allcontributors.org/docs/en/bot/installation) then make it work.

[2022-10-05 13:29] leonlafa commented on #153
It appears that this issue has been resolved.
<img width="177" alt="energy-price-news-issue-153" src="https://user-images.githubusercontent.com/44982724/194072295-4e4a9258-9e29-481c-a2d9-b13f6a0fc671.png">

[2022-10-05 15:19] #156 closed

[2022-10-05 15:21] #160 closed

[2022-10-06 14:51] reny-pacheco commented on #151
Hi there, Please assign this to me. I would like to contribute to this repo by adding tests. This is my starting point to contribute to open source project. Thanks

[2022-10-06 15:57] reny-pacheco commented on #152
Hi there, I'm interested in this issue. Please assign this to me.

[2022-10-06 17:47] #151 closed

[2022-10-06 17:50] MizouziE commented on #151
Thanks for getting involved and I appreciate the contribution. I've assigned you even thought it's closed and ur PR accepted and merged, but just to second what TAKANONE said, we try and stick to only accepting once assigned just to keep it fair for everyone, especially those trying to make a start in OSS.

Glad to have you aboard all the same!

[2022-10-06 20:39] leonlafa opened #177 "Participate in Hacktoberfest"
### What would you like to share?

@MizouziE it would be great if the maintainer could add the `hacktoberfest` topic to this repository 😛 .   Developers could could get the chance of winning some awesome free swag 🙌 .

https://hacktoberfest.com/

### Additional information

_No response_

[2022-10-06 21:11] MizouziE commented on #177
Thanks for the suggestion @leonlafa !

[2022-10-06 21:11] #177 closed

[2022-10-06 22:42] reny-pacheco commented on #151
Apologies for creating a PR even though the issue is not assigned to me. This is my first contribution to open source and I'm happy that my first PR has been merged. Thank you very much.

[2022-10-07 06:09] sanyamgandhak commented on #149
Hi there ,
Please assign it to me

[2022-10-07 06:14] MizouziE commented on #151
No problem! 👊

[2022-10-07 17:19] blazenn2 commented on #153
@TAKANOME-DEV  @MizouziE

Please take a look at my pull request and let me know if you are looking for more.

Thanks!

[2022-10-07 17:52] sanyamgandhak commented on #149
Please have a look at PR

[2022-10-07 21:31] #152 closed

[2022-10-07 21:33] TAKANOME-DEV opened #181 "Feature: add github action to welcome first-time contributor"
### What feature would you like to see?

Add an action to welcome first-time contributor instead of us doing it every time.
The message can be personalized as we wish.

### Possible implementation

See:
- https://github.com/actions/first-interaction
- https://github.com/actions/github-script#welcome-a-first-time-contributor

Here is an example: https://github.com/EddieHubCommunity/LinkFree/issues/

[2022-10-07 21:49] TAKANOME-DEV opened #182 "Feature: add node ci"
### What feature would you like to see?

Add an action to checkout the repo, run linting (we don't have linting yet), and run tests on pull requests

### Possible implementation

Some examples:
- https://github.com/open-sauced/open-sauced/blob/main/.github/workflows/development.yml
- https://github.com/nhcarrigan/weLoveHacktoberfest/blob/main/.github/workflows/node-ci.yml

### Additional informati

[2022-10-07 21:52] MizouziE commented on #181
I like the way you think! I'll get on it ASAP

[2022-10-08 00:01] MizouziE opened #183 "Bug: Source list endpoint giving incorrect URLs"
### What bug did you encounter?

Going to `/api/news/sources` gave the list of possible sources as expected, **BUT** upon following the URLs provided I got the 404 page.

### What did you expect to happen?

To be redirected to the list of articles for the desired single source

### Screenshots

We've all seen a 404

### Additional information

I believe the answer is to alter the object returned b

[2022-10-08 02:31] chankruze commented on #183
Assign this issue to me.

[2022-10-08 06:47] sanyamgandhak commented on #183
Hi there ,
Please assign it to me

[2022-10-08 07:17] MizouziE commented on #183
Thanks for taking an interest @chankruze.  Ask any questions you may have if you cannot find what you need in the documentation.

[2022-10-08 07:18] chankruze commented on #183
Sure sir 👍

[2022-10-08 07:19] MizouziE commented on #183
@sanyamgandhak As someone else has asked before you it's only fair that they have a chance. Please feel free to offer any suggestions you have here in the issue comments cos we're all here to help one another grow.

[2022-10-08 07:23] #149 closed

[2022-10-08 07:47] sanyamgandhak commented on #154
I am not completely sure that I can do it , I am trying it . Will create pull request . After that u can assign it to me if found good

[2022-10-08 07:47] sanyamgandhak commented on #183
Yeah !! No issued

[2022-10-08 07:56] chankruze commented on #183
@MizouziE This issue is also with the sources by region endpoint i.e. `http://localhost:8000/api/news/regions/europe`.

[2022-10-08 10:16] TAKANOME-DEV commented on #154
@sanyamgandhak we did remove the twitter endpoint (or comment it out) because of some issues we had with twitter search.
We are planning to use twitter API for that, you can view the discussion here #3

For now, I'm gonna mark this issue as blocked :no_entry:  until we implement that feature

[2022-10-08 13:55] reny-pacheco opened #185 "Feature: Add redirect to homepage from 404 page"
### What feature would you like to see?

I suggest to have a **link** from 404 page to redirect the user back to homepage.

Benefits:
- The user has a clickable link to homepage instead of typing the url. (or clicking the previous button in the browser)
- The user will redirected to homepage for more information about the api.

### Possible implementation

I also suggest to center the content.

Sc

[2022-10-08 13:56] reny-pacheco commented on #185
Hi there, if this feature is accepted, I would like to work on this.

[2022-10-08 15:44] TAKANOME-DEV commented on #185
That's a good idea :bulb:
I would suggest to use a button that redirect back to homepage instead of a link

[2022-10-08 15:47] reny-pacheco commented on #185
Good suggestion, maybe `a` tag with styles like a button?

[2022-10-08 16:18] TAKANOME-DEV commented on #185
Yeah you can do that

[2022-10-08 19:06] leonlafa commented on #3
I'm happy to take this one on if you can provide me with specifications on how you want users to use this resource 😄

[2022-10-08 20:43] #153 closed

[2022-10-08 20:48] #185 closed

[2022-10-08 20:59] MizouziE commented on #3
Thanks @leonlafa
I thought it should be similar to how the article scraper works by running a search on each twitter user account for tweets containing each of the keywords.

The difficult part will be figuring out how to basically make calls to the twitter api so many times without breaking fair use rules, hence the need to properly investigate it. So far I have not had the time.

The desired end

[2022-10-09 14:02] #183 closed

[2022-10-09 19:50] MizouziE commented on #131
Finally done  :sweat_smile:

[2022-10-09 19:50] #131 closed

[2022-10-09 20:12] MizouziE commented on #166
@all-contributors add @rupali-codes for bug reporting

[2022-10-09 20:28] MizouziE commented on #23
Done :heavy_check_mark:

[2022-10-09 20:28] #23 closed

[2022-10-09 21:09] #181 closed

[2022-10-09 21:21] MizouziE opened #189 "Chore: Remove an unwanted directory"
### What work needs to be performed?

Please remove the directory `./.vscode` along with all it's contents.

After removing, please `git add .vscode` and then `git commit -m "<suitable commit message>"` and then push your changes to create a new PR.

As the folder is already included in `.gitignore` you will not need to do anything here.

### Additional information

The easiest way to do this woul

[2022-10-09 21:23] pedes commented on #189
Hi @MizouziE would you mind assigning it to me? Thanks in advance

[2022-10-09 21:25] MizouziE commented on #189
All yours @pedes

[2022-10-09 22:00] #189 closed

[2022-10-09 22:01] ashwin-acharya01 commented on #79
Is it still not resolved? If not then I can work on it.

[2022-10-09 22:07] MizouziE commented on #79
Thanks @ashwin-acharya01

Let me know if you have any questions beyond what is covered in the discussions above

[2022-10-09 22:28] MizouziE opened #192 "Feature: Periodic update of scrape data/object"
### What feature would you like to see?

The project will soon be hosted somewhere that will never shut it down, so we need a way for the scrape data (The returned articles object) to stay fresh.

This was previously discussed in #27 , so please check there for some reference.

### Possible implementation

`setTimeout()`seems to be the simplest way to achieve something like this.

[Check out the d

[2022-10-10 06:01] ashwin-acharya01 commented on #79
Sure

[2022-10-10 18:45] chinmaykumbhare commented on #192
hi @MizouziE , can you please assign this issue to me?

[2022-10-11 14:57] MizouziE commented on #166
@all-contributos add @madalinignisca for infra and mentoring

[2022-10-11 14:57] #166 closed

[2022-10-11 15:46] MizouziE commented on #166
@all-contributors add @madalinignisca for infra and mentoring

[2022-10-11 21:01] MizouziE opened #196 "Chore: Change og:image & og:url meta tags"
### What work needs to be performed?

We have new hosting and should therefore make the most of it and point to the always available images we are serving.

In `./src/views/index.html` please change the og:image content to the following:
[code]

In the same file, please change the og:url content to the following:
[code]

### Additional information

This will make the thumbnail look a bit nicer whe

[2022-10-11 21:06] MizouziE opened #197 "Chore: Add twitter meta tags"
### What work needs to be performed?

In the file `./src/views/index.html` please add the following to the head:

[code]

### Additional information

This will improve the look of links shared on twitter.

[2022-10-11 21:22] #197 closed

[2022-10-12 03:18] aabhas-sao commented on #196
hey @MizouziE, please assign me this issue. I would like to work on it.

[2022-10-12 17:51] #192 closed

[2022-10-12 21:31] #196 closed

[2022-10-13 17:32] MizouziE commented on #155
@MuminAhmadKhan I'd say to keep the tests just to the paginate function. Test things like:

- If called, is the output as expected.
- If number of articles is less than `limit` then there should not be a `next:` link
- The data displaying the article count and page count etc is giving accurate readings

Use the `__mocks__` folder and create all the dummy response data you need to test out the edge

[2022-10-15 09:10] #155 closed

[2022-10-21 20:25] leonlafa commented on #3
@MizouziE unfortunately I'm going to have to jump off this one.  I've been extremely busy with work.  I'm unsure when I'll get the change to sit down and get this done.

[2022-10-22 20:31] MizouziE commented on #3
@leonlafa No worries bro, I know how it gets! I'll probably work on this very slowly anyway so feel free to chuck any ideas or input this way. Appreciate the heads up 🙏

[2022-11-01 09:19] MizouziE commented on #79
Hi @ashwin-acharya01 , I hadn't heard from you in a while on this so had a go myself with a solution. Take a look at PR #205 if you'd like to see how it was tackled. The solution used still requires improvements and tests to be written, so if you have anything that could be integrated, it would be appreciated still.

[2022-11-01 09:19] #79 closed